#credentials-wrapper{
    height: auto;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkgray;
}

#credentials-wrapper p{
    font-size: 18px;
}

#login-bars{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}

.bar{
    height: 2px;
    width: 175px;
    background: lightgray;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    /* border: 1px solid black; */
}

.inputs input{
    height: 40px;
    font-size: 17px;
    color: darkgray;
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 0 8px;
}

#login-inputs{
    height: 97px;
}

#sign-up-inputs{
    height: 250px;
}

.bttn{
    height: 35px;
    width: 100%;
    background: #4286f4;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    margin-top: 8px;
}