#credentials-wrapper{
    height: auto;
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid black; */
}

#credentials-wrapper p{
    font-size: 18px;
}

#login-bars{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}

.bar{
    height: 2px;
    width: 175px;
    background: lightgray;
}