#home{
    height: auto;
    width: 100vw;
    background: #f9f9f9;
    position: relative;
    overflow: scroll;
}

#header{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100vw;
    height: 70px;
    background: white;
    border: 1px solid #e2e2e2;
}

#flex-wrapper{
    /* border: 1px solid pink; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 95vw;
    margin: 0 auto;
    padding-right: 25px;
}

#logo-container{
    /* border: 1px solid pink; */
    height: 65px;
    width: 175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-family: 'Grand Hotel', cursive;
    letter-spacing: 2px;
    font-size: 14px;
}

#line{
    height: 30px;
    width: 1px;
    background: black;
}

.img{
    height: 26px;
    width: 26px;
}
#search-box-wrapper{
    height: 25px;
    width: 200px;
    background: #f9f9f9;
    border: 0.5px solid #e2e2e2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#search-box{
    width: 50px;
    background: #f9f9f9;
    border: none;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}
#search-icon{
    height: 15px;
    width: 15px;
}

#navigations-container{
    height: 40px;
    width: 150px;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#home-feed-wrapper{
    background: #f9f9f9;
    height: auto;
    width: 70%;
    position: relative;
    top: 100px;
    margin: 0 auto;
    
}

@media (min-width: 1250px){
    #home-feed-wrapper{
        width: 1000px;
    }
    
}